<html lang="en" class="yui3-js-enabled">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>mezmor.com</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="content">
    <div class="splash">
        <h1 class="splash-head">mezmor.com</h1>
    </div>
</div>

</body>
</html>